<?xml version ="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<!-- ================================= GAC files ==================================== -->
		  <dependentAssembly>
			<assemblyIdentity name="NationalInstruments.VeriStand.APIInterface" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			<assemblyIdentity name="NationalInstruments.VeriStand.ClientAPI" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			<assemblyIdentity name="NationalInstruments.VeriStand" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			<assemblyIdentity name="NationalInstruments.VeriStand.Internal" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			<assemblyIdentity name="NationalInstruments.VeriStand.SystemDefinitionAPI" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			<assemblyIdentity name="NationalInstruments.VeriStand.SystemStorage" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			<assemblyIdentity name="NationalInstruments.VeriStand.SystemStorageUI" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			<assemblyIdentity name="NationalInstruments.VeriStand.WorkspaceMacro" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.XMLReader" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.DataTypes" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.ATMLTestResults" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.RealTimeSequenceDefinitionApi" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.UsiDotNetApi" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.RealTimeSequenceDefinitionApiUtilities" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.ASAM.XIL.Implementation.TestBench" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
	<!-- ================================= Local files ==================================== -->
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.CommonUI" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.Compiler" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.MacroPlayerRecorder" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.ResXResourceManager" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.ServerAPI" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.UIStyleManager" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>  
		  <dependentAssembly>
		  <assemblyIdentity name="NationalInstruments.VeriStand.DataTypes.Utilities.dll" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.0.0.0" />
		  </dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
